<div class="contain py-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h1 class="text-2xl uppercase font-medium mb-1">Change Password</h1>
        <p class="text-gray-600 mb-6 text-sm ">
            Your new password must be different from previously used passwords.
        </p>
        <form action="/#" id="password-form" method="POST" class="mt-6 space-y-4">
            <div>
                <label for="oldpassword" class="text-gray-600 mb-2 block">Old password</label>
                <div class="relative mt-2">
                    <input type="password" id="oldpassword" name="old_password" placeholder="Enter your old password"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        required>

                </div>
            </div>

            <div>
                <label for="password" class="text-gray-600 mb-2 block">New password</label>
                <div class="relative mt-2">
                    <input type="password" id="password" name="password" placeholder="Enter your new password"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        required>

                </div>
            </div>

            <div>
                <label for="confirm-password" class="text-gray-600 mb-2 block">Confirm new password</label>
                <div class="relative mt-2">
                    <input type="password" id="confirm-password" name="confirm_password"
                        placeholder="Re-enter your password"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        required>
                </div>
            </div>

            <p id="error-message" class="text-sm text-primary hidden"></p>

            <button type="submit"
                class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                Change Password
            </button>
        </form>
    </div>
</div>

<script>
    const form = document.getElementById("password-form");
    const password = document.getElementById("password");
    const confirmPassword = document.getElementById("confirm-password");
    const errorMessage = document.getElementById("error-message");

    form.addEventListener("submit", function (event) {
        if (password.value !== confirmPassword.value) {
            event.preventDefault();
            errorMessage.classList.remove("hidden");
            errorMessage.innerText = "Passwords do NOT match!";
        } else {

            if (oldpassword.value === confirmPassword.value) {
                event.preventDefault();
                errorMessage.classList.remove("hidden");
                errorMessage.innerText = "Hmmm, new and old password are too similar !";
            } else {
                errorMessage.classList.add("hidden");
            }
        }
    });

    [password, confirmPassword].forEach((input) => {
        input.addEventListener("focus", () => {
            errorMessage.classList.add("hidden");
        });
    });
</script>